h1 {
    color: blueviolet;
}

div.list_item {
    display: inline-block;
    /*border-style: solid;*/
}

p.item_name {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}

button {
    cursor: pointer;
}

.sub_btn {
    display: inline-block;
}