div.list_item {
    display: block ruby;
    border: 1px solid black;
}

p.item_name {
    padding-left: 2%;
    padding-right: 2%;
}

button {
    cursor: pointer;
}

/*
button.del_btn {
    
}

button.sub_btn {
}
*/