h1 {
    color: blueviolet;
}

div.list_item {
    display: inline-block;
}

p.item_name {
    display: inline-block;
}

.sub_btn {
    display: inline-block;
    background: #4CAF50;
    cursor: pointer;
}

#add_btn {
    background-color: blue;
    cursor: pointer;
}